.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.card {
  position: relative;
  overflow: hidden;
}

.card__icon {
  position: absolute;
  //   left: 300px;
  right: -10px;
  bottom: -85px;
  font-size: 12rem;
  color: white;
}

.hideOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
